body {
    background-color: white;
}

pre {
    color: white;
    background-color: rgba(255, 99, 71, 0.5);
}

li {
    float: left;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


td:hover {
    background-color: #111111;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    width: 50px;
    height: 50px;
}

th.separate_table {
    border-right: 6px solid black;
}

tr.table_separable {
    border-bottom: 6px solid black;
}

table {
    border-top: 6px solid black;
    border-left: 6px solid black;
}
